@import '../../_utils.scss';

.services {
  padding: 0 8px;
  
  @include onSmallTablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
  }

  @include onTablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(5, 1fr);
  }
}
